---
title: Imaginary Expanse
---
<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/static/css/site.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <span></span>
      <a href="/data/">Data</a>
    </nav>
  </header>
  <main>
    <%- content %>
  </main>
  <footer></footer>
</body>
</html>